CATEGORY_URL="https://hobbygames.ru/uzhas-arkhjema-kartochnaja-igra-category"
PRODUCT_SELECTOR=".product-card"
STOCK_ITEM_SELECTOR=".stock-popup__item"
STOCK_TITLE_SELECTOR=".stock-popup__item__title"
STOCK_ADDRESS_SELECTOR=".stock-popup__item__address"
STOCK_STATUS_SELECTOR=".stock-status"
STOCK_DELIVERY_CLASS="internet"
