CATEGORY_URL="https://hobbygames.ru/uzhas-arkhjema-kartochnaja-igra-category"
CATEGORY_URL_BY="https://hobbygames.by/kartochnij-uzhas-arkhjema"
CATEGORY_URL_KZ="https://hobbygames.kz/arkham-horror-card-game"
PRODUCT_SELECTOR=".product-card"
STOCK_ITEM_SELECTOR=".stock-popup__item"
STOCK_TITLE_SELECTOR=".stock-popup__item__title"
STOCK_ADDRESS_SELECTOR=".stock-popup__item__address"
STOCK_STATUS_SELECTOR=".stock-status"
STOCK_DELIVERY_CLASS="internet"
